name: niskine
channels:
  - conda-forge
dependencies:
  - python=3.9
  - mercurial   # for pulling pycurrents repo
  - matplotlib
  - cartopy
  - cmocean
  - numpy
  - pandas
  - pytest
  - scipy
  - tqdm
  - xarray
  - bottleneck
  - netcdf4
  - cftime
  - gsw
  - utide
  - python-box
  - pip
  - pip:
    - jupytext
    - "-e git+https://github.com/gunnarvoet/gvpy.git#egg=gvpy"
    - "hg+https://currents.soest.hawaii.edu/hgstage/pycurrents/#egg=pycurrents"
    # Install the local niskine package in developer mode
    - "-e ."
